*{
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(36, 36, 36);
    color: white;
}
h1{
    margin: 20px 0;
    text-align: center;
    color: white;
}
.content{
    display: flex;
    justify-content: space-between;
}
.code-in{
    width: 100%;
    margin: 0 20px;
}
textarea{
    width: 100%;
    resize: none;
    border-radius: 2px;
    background: rgb(20, 19, 19);
    color: white;
    border: none;
    margin: 20px 0;
    height: 40vh;
    font-size: 20px;
}
iframe {
    width: 100%;
    height: 20em;
    background: white;
    border-radius: 5px;
}